{{#if (not this.gameStarted)}}
  {{#if (not this.gameEntered)}}
    <div class="public-service-announcement_conatiner">
      <h1 class="text">This game contains graphic scenes, bad language and alcoholism. Continue?</h1>
      <button class="menu-btn" {{on "click" this.enterGame}}>CONTINUE</button>
    </div>
  {{else}}
    {{#if this.showLogo}}
      <div class="logo_container">
        <div class="dick_container">
          <img class="dick" src="/assets/images/dick.gif" alt="">
        </div>
        <div class="logo_title">STUBALLS GAMES</div>
      </div>
      <div class="logo_overlay" {{on "click" this.skipLogo}}></div>
    {{else}}
      <div class="start-screen {{if this.fadeOut "fade-out"}}">
        <div class="title-and-btns">
          <div class="title">Booker</div>
          <div class="btns-container">
            <button class="menu-btn" {{on "click" this.startGame}}>New Game</button>
          </div>
        </div>
        <img class="rain" src="/assets/images/rain.gif" alt="">
        <img class="london" src="/assets/images/london.png" alt="">
      </div>
    {{/if}}
  {{/if}}
{{else}}
  <div id="game-container" class="game-container">
    {{#if this.talkActions.showTalkOverlay}}
      <div class="talk-overlay" {{on "click" this.talkActions.runNextStep}}>
        <div class="portrait {{this.talkActions.portrait}}">
          <img id="portrait-sprite" class="portrait-image" src="/assets/portraits/portrait-{{this.talkActions.portrait}}-{{this.talkActions.mood}}.png" alt="">
        </div>
        <div class="speach">{{this.talkActions.speach}}</div>
      </div>
    {{else}}
      <div class="inventory" {{on "click" this.inventory.toggle}} {{on-click-outside (fn this.inventory.close)}}>
        <img class="icon" src="/assets/icons/wood-inventory-icon.png" alt="">
        <div class="items {{if this.inventory.isOpen "open" "close"}}">
          {{#each this.inventory.items as |object|}}
            <div>
             <img class="item" src="/assets/objects/{{object.name}}.png" alt="">
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
    {{outlet}}
  </div>
{{/if}}
